<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('Post Create')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
                Title:
                <input class="form-control" th:field="*{title}" />
                <br />
                <label for="userid" class="form-label">Post creator:</label>
                <select class="form-control" name="userid" id="userid">
                    <option th:each="user: ${users}"  th:value="${user.id}" th:text="${user.username}"></option>
                </select>
<!--                <label for="userid">user id:</label>-->
<!--                <input type="number" id="userid" name="userid">-->
                <br />
                Description:
                <input class="form-control"  th:field="*{body}" />
                <br />
                <input type="submit" />
            </form>

        </div>
    </div>
</div>



</body>
</html>