<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('edit post page')" />
<body>
<nav th:replace="fragments/partials :: navbar" />


<h1>Edit Post Page</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="card">
            <form th:action="'/posts/' + ${post.id} + '/edit' " method ="post">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" th:value="${post.title}">
                <label for="body">Body</label>
                <input type="text" id="body" name="body" th:value="${post.body}">
                <input type="hidden" id="id" name="id" th:value="${post.id}">
                <input type="submit">

            </form>
        </div>

    </div>
</div>



</body>
</html>