<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('show post page')" />
<body>
<nav th:replace="fragments/partials :: navbar" />


<h1>Show Post Page</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="card">
            <h1>Post title:<span th:text="${post.title}"></span> </h1>
            <h2>Post ID:<span th:text="${post.id}"></span> </h2>
            <h3>Description: <span th:text="${post.body}"></span></h3>
            <p>Posted by: <span th:text="${post.user.email}"></span></p>
        </div>

    </div>
</div>



</body>
</html>