<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('Create Ad')" />
<body>
<nav th:replace="fragments/partials :: navbar" />

<div class="container">
    <div class="row">
        <div class="col">
            <form   th:action="@{/ads/create}" method="post">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="field form-control" />
                <br>
                <br>
                <textarea id="description" name="description" rows="4" cols="50" placeholder="description" class="form-control"></textarea>
                <br>
                <label for="userid" class="form-label">Ad creator:</label>
                <select class="form-control" name="userid" id="userid">
                    <option th:each="user: ${users}"  th:value="${user.id}" th:text="${user.username}"></option>
                </select>
                <button>Submit post</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>