<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('Dice Game')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<h1>Roll-dice game</h1>
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>
<div class="container">
    <div class="row">
        <div class="col-3 card mx-3 my-3" th:each="message: ${messages}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

</body>
</html>